

@media only screen and (max-width: 600px) {

    .label{
    color: #595959;
    font-size: 24px;
    cursor: pointer;
    }

    nav ul{
        width: 100vw;
        height: 15vh;
        list-style: none;
        display: flex;
        margin: 0%;
        padding: 0%;
        justify-content: start;
    }

.li-green{
    width: 10%; 
    height: 15vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-red{
    width: 25%; 
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-pink{
 width: 45%;
 height: 15vh; 
 display: flex;
 justify-content: center;
 align-items: center;
}

.li-pink input {
    width: 90%;
    height: 5vh;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

.search-div{
    position: absolute;
    right:113px;
    color: white;
    border-radius: 4px;
    height: 6vh;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.li-purple{
    width: 20%; 
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-blue{
    width: 102%;
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.blue-div1{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
}

.blue-div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.blue-div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.blue-div4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.dot-icon{
    font-size: 24px; 
    border: 1px solid black;
    width: 15px; 
    height: 15px; 
    border: 3px solid black; 
    border-radius: 50%; 
}

.blue-div2-div{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}


.body-light{
    margin-top: 10px;
    width: 102%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-indent: 5px;
}

.body-gray{
    background-color: #F5F6EA;
    margin-top: 10px;
    display: grid;
    width: 102%;
    height: 80vh;
    grid-template-columns: auto auto auto   ;
    grid-template-rows: auto auto auto auto  ;
}

.body-gray-header{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------- */
.body-gray-img1{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
}
.body-gray-p1{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 80%;
    text-indent: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
/* --------------------------------- */

.body-gray-img2{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;

}
.body-gray-p2{
    grid-column: 2/4;
    grid-row: 3/4;
    width: 80%;
    text-indent: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}
/* ------------------- */

.body-gray-img3{
    grid-column: 1/2;
    grid-row: 4/5;
}
.body-gray-p3{
    grid-column: 2/4;
    grid-row: 4/5;
    display: flex;
    width: 80%;
    text-indent: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.body-table{
    margin-top: 10px;
    display: grid;
    width: 102%;
    height: 80vh;
    grid-template-columns: auto auto auto  auto ;
    grid-template-rows: auto auto auto   ;
    gap: 15px;
}

.table-header{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #E7AB46; /* Color of the underline */
    text-decoration-thickness: 10px; /* Thickness of the underline */
}

.table-img1{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.table-img2{
    grid-column: 3/5;
    grid-row: 2/3;
}

.table-img3{
    grid-column: 1/3;
    grid-row: 3/4;
}

.table-img4{
    grid-column: 3/5;
    grid-row: 3/4;
}

.orange-form{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 88vh;
    border: 10px solid orange;
}

.orange-box1{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-box1 h1{
    color: #FBD657;
    font-size: 1.6rem;
}
.orange-box2{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.orange-box3{
    background-color:white;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waffels{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 120vh;
    border: 10px solid orange;
}


.waffels-div1{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waffels-div1 p{
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
}

.underline2{
    border-bottom: 2px solid black; /* Thickness and color of the line */
    padding-bottom: 5px; /* Space between text and line */
    display: inline-block; /* Ensures the border fits the text width */
}


.dots-container {
    display: flex;
    justify-content: center; /* Center dots horizontally */
    gap: 10px; /* Space between dots */
}

.dot {
    width: 12px; /* Diameter of the dot */
    height: 12px; /* Diameter of the dot */
    background-color: #D9D9D9; /* Color of the dot */
    border-radius: 50%; /* Makes the shape circular */
    border: 1px solid black;
}

.waffels-div2{
    width: 100%;
    height: 20vh;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
    align-items: center;
}

.waffel-div2-c1{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.waffel-div2-c2{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.waffel-div2-c3{
    width: 100%;
    height: 8vh;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    gap: 10px;}

.waffel-div2-c4{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    gap: 10px;}
.waffel-div2-c5{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
   justify-content: center;
    gap: 10px;}

.waffel-div2-c6{
    width: 100%;
    height: 8vh;
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    gap: 10px;}

 .waffle-div3{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teatcher{
        width: 98%;
        height: 100vh;
        margin-top: 20px;
        display: grid;
        border: 10px solid orange;
         grid-template-columns: auto auto auto ; 
        grid-template-rows: auto auto auto auto auto auto auto auto ;
        align-items: center; 
    }

    .t1{
        width: 100%;
        height: 8vh;
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        align-items: center;
    }
    .t1 h6{
        margin-left: 10px;
        font-size: 1rem;
        color: rgb(158, 3, 3);
    }

    .t2{
        width: 100%;
        height: 8vh;
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .t3{
        width: 100%;
        height: 8vh;
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
    }

    .t4{
        width: 100%;
        height: 8vh;
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
    }
    .t5{
        width: 100%;
        height: 8vh;
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
    }
    .t6{
        width: 100%;
        height: 8vh;
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
    }
    .t7{
        width: 100%;
        height: 8vh;
        grid-column: 3/4;
        grid-row: 3/4;
        display: flex;
        justify-content: center;
    }

    .t8{
        width: 100%;
        height: 8vh;
        grid-column: 1/4;
        grid-row: 4/5;
        display: flex;
        align-items: center;
    }
    .t8 h6{
        margin-left: 10px;
        font-size: 1rem;
        color: rgb(158, 3, 3);

    }

    .t9{
        width: 100%;
        height: 8vh;
        grid-column: 1/2;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
    }

    .t10{
        width: 100%;
        height: 8vh;
        grid-column: 2/3;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
    }

    .t11{
        width: 100%;
        height: 8vh;
        grid-column: 3/4;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
    }

    .t12{
        width: 100%;
        height: 8vh;
        grid-column: 1/4;
        grid-row: 6/7;
        display: flex;
align-items: center;    }


    .t12 h6{
        margin-left: 10px;
        font-size: 1rem;
        color: rgb(158, 3, 3);

    }
    .t13{
        width: 100%;
        height: 8vh;
        grid-column: 1/2;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
    }

    .t14{
        width: 100%;
        height: 8vh;
        grid-column: 2/3;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
    }

    .t15{
        width: 100%;
        height: 8vh;
        grid-column: 3/4;
        grid-row: 7/8;
        display: flex;
        justify-content: center;
    }

    .footer{
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        background-color: #d6d4d8;
        display: flex;
         flex-direction: column;
         justify-content: center;
        align-items: center; 
        gap:2px;
    }

    .footer button{
        width: 36%;
        height: 8vh;
        border: 1px solid rgb(141, 7, 7);
    }

    .div1-footer{
         width: 100%;
          height: 20vh;
           display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .follow{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .list-footer{
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;

    }

.footer-li1{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li2{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li3{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li4{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li5{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li6{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li7{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li8{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li9{
    width: 100%;
    height: 8vh;
    grid-column: 1/3;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.footer-li10{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    align-items: center;
}

.footer-li11{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    align-items: center;
}

.footer-li12{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 7/8;
    display: flex;
    align-items: center;
}
.footer-li13{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 7/8;
    display: flex;
    align-items: center;
}

.footer-li14{
    width: 100%;
    height: 8vh;
    grid-column: 1/2;
    grid-row: 8/9;
    display: flex;
    align-items: center;
}

.footer-li15{
    width: 100%;
    height: 8vh;
    grid-column: 2/3;
    grid-row: 8/9;
    display: flex;
    align-items: center;
}

}
